/* grille en carreaux */
.planning-grid .rct-vertical-lines .rct-vl {
  border-left: 1px solid #e6e6e6;
}
.planning-grid .rct-horizontal-lines .rct-hl {
  border-top: 1px solid #e6e6e6;
}
.planning-grid .rct-header-root {
  border-bottom: 1px solid #e6e6e6;
}
.planning-grid .rct-sidebar {
  border-right: 1px solid #e6e6e6;
}
/* lignes verticales */
.planning-grid .rct-vertical-lines .rct-vl {
  border-left: 1px solid #d9d9d9 !important;
}

/* lignes horizontales */
.planning-grid .rct-horizontal-lines .rct-hl {
  border-top: 1px solid #d9d9d9 !important;
}

/* cadre */
.planning-grid .rct-outer {
  border: 1px solid #d9d9d9;
}
