/* Conteneur global */
.App {
  display: flex;
  min-height: 100vh;
  background-color: #f8fafc; /* Fond neutre pro */
}

/* Le wrapper qui contient la TopBar et la Page */
.main-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 0; /* Empêche les éléments larges de casser le layout */
  
  /* Synchronisation avec la Sidebar */
  margin-left: var(--app-left);
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* La zone de contenu dynamique */
.page-content {
  margin-top: var(--topbar-h); /* Pour ne pas être sous la TopBar fixe */
  padding: 1.5rem;
  width: 100%;
  flex-grow: 1;
}